<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>227824969414-3i57pp92unoh92mmvun06jr763giidsb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227824969414-3i57pp92unoh92mmvun06jr763giidsb</string>
	<key>API_KEY</key>
	<string>AIzaSyD99FcNgrXPo9FZ5Fz3H5crEBaMFuhleVA</string>
	<key>GCM_SENDER_ID</key>
	<string>227824969414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>reset.ChaChat</string>
	<key>PROJECT_ID</key>
	<string>chachat-e8b75</string>
	<key>STORAGE_BUCKET</key>
	<string>chachat-e8b75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227824969414:ios:695c3ea1f6ac2933</string>
	<key>DATABASE_URL</key>
	<string>https://chachat-e8b75.firebaseio.com</string>
</dict>
</plist>